{
padding : 0;
margin : 0;
border : 0;
}
body{
background-image : url(' bi-background-light-blue.png ');
background-attachment : fixed;
background-size : 100% auto;
}
.blended_grid{
display : block;
width : 1000px;
overflow : auto;
margin : 10px auto 0 auto;
}
.topBanner{
background-color : rgba(255,255,255, 0.5);
float : center;
clear : none;
height : 200px;
width : 1000px;
}
.middleBanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 450px;
width : 1050px;
}
.leftBanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 350px;
width : 350px;
}
.rightBanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 350px;
width : 350px;
}
.centerBanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 350px;
width : 350px;
}
.bottomBanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 100px;
width : 1050px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;  
}

.dropdown-content {
    display:none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #df0024;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	padding: 12px 16px;
    text-decoration: none;
    display:block;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
	color: #df0024;
}
{box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.text {
  color: #df0024;
  font-size: 30px;
  padding: 12px 16px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*MENU LINKS*/
.menulink{
	list-style: none;
	overflow: hidden;
	text-decoration: none;
	color: black;
}
.menulink li a {
	text-decoration: none;
	color: black;
	color: #df0024;
}

.menulink li a:hover {
	text-decoration: none;
	background-color: black;
	color: #df0024;
}


/*dropdown for categories*/
.searchdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  min-width: 0px;
  margin: 0px;
  padding-left: 3px;
}
input {
    line-height: 19px;
}

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  min-width: 0px;
  margin: 0px;
  padding-left: 3px;
}
 
/*To remove button from IE11, thank you Matt */
select::-ms-expand {
     display: none;
}
 
.selectdiv:after {
  content: '>';
  font: 14px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  
  top: 3px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}
 
.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 120px;
  height:25px;
  float: left;
  margin: 0px 0px;
  padding: 0px 10px;
  font-size: 12px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}