body{
/*background-image : url(' bi-background-light-blue.png ');
background-attachment : fixed;
background-size : 100% auto;*/
}
table { 
    border-collapse: collapse; 
}
tr.no_border td {
  border: 0;
  padding-top: 1em;
}
/*___MAIN DIV___*/
.blended_grid{
display : block;
width : 1000px;
overflow : hidden;
margin : 15px auto 0 auto;
}
#fixed_top{
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 1000px; /* Full width */
z-index: 5;
}
#TopNav{
background-color : white;
/*#fbefd9;*/
float : top;
clear : none;
height : 75px;
width : 100%;
z-index: 4;
}
#MenuNav{
background-color : white;
border: 1px white solid;
border-radius: 3px;
float : top;
clear : none;
height : 35px;
width : 100%;
position: absolute;
top: 75px;
z-index: 4;
}
#Middle{
background-color : white;
float : top;
clear : none;
height : 35px;
width : 100%;
position: relative;
top: 100px;
z-index: 4;
}
#Center{
background-color : white;
float : top;
clear : none;
position: relative;
top: 350px;
height : 1660px;
width : 100%;
z-index: 3;
}
#Footer{
background-color: black;
width : 1000px;
display: flex;
justify-content: center;
align-items: center;
position: sticky;
top: 600px;
bottom: 0;
left: 0;
z-index: 3;
}

#Footer > div {
font-style: inherit;
}

#footer-bottom{
background-color : #343A40;
position: absolute;
left: 0px;
width : 100%;
}
/*___END OF MAIN DIV___*/
/*___LOGIN DIV___*/
#Login_Container1{
display: table;
background-color : transparent;
/*border: 1px solid #bcbdb7;*/
float : top;
clear : none;
height : 50px;
width : 200px;
position: absolute;
top: 15px;
padding: 5px;
left: 230px;
z-index: 1;
}
#Login_Container2{
display: table;
background-color : transparent;
/*border: 1px solid #bcbdb7;*/
float : top;
clear : none;
height : 50px;
width : 200px;
position: absolute;
top: 25px;
padding: 5px;
left: 230px;
z-index: 5;
}
#Login_Content{
text-align: center;
line-height: 15px;
vertical-align: middle;
display: table-cell;
}
a:link {
    color: black; 
    background-color: transparent; 
    font-weight: bold;
    text-decoration: none;
}
a:visited {
  color: black;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: bold;
    text-decoration: none;
}
.username {
    line-height: 15px;
    padding-left: 5px;

    position: relative;
    left: -100px;
}
.password {
    line-height: 15px;
    padding-left: 5px;

    position: relative;
    left: 80px;
    top: -21px;
}
.login {
    text-align: center;
    vertical-align: middle;
    height: 30px;
    padding: 3px 5px;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c2c4));
    background: -moz-linear-gradient(top, #ffffff, #c4c2c4);
    background: linear-gradient(to bottom, #ffffff, #c4c2c4);
    font: normal normal bold 12px arial;
    color: #111111;
    text-decoration: none;

    position: relative;
    left: 200px;
    top: -45px;
}
.register {
    text-align: center;
    vertical-align: middle;
    height: 30px;
    padding: 3px 5px;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c2c4));
    background: -moz-linear-gradient(top, #ffffff, #c4c2c4);
    background: linear-gradient(to bottom, #ffffff, #c4c2c4);
    font: normal normal bold 12px arial;
    color: #111111;
    text-decoration: none;

    position: relative;
    left: 260px;
    top: -75px;
}
.logout {
    text-align: center;
    vertical-align: middle;
    height: 30px;
    padding: 3px 5px;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c2c4));
    background: -moz-linear-gradient(top, #ffffff, #c4c2c4);
    background: linear-gradient(to bottom, #ffffff, #c4c2c4);
    font: normal normal bold 12px arial;
    color: #111111;
    text-decoration: none;

    position: relative;
    left: 120px;
    top: -25px;
}
.login:hover, .register:hover, .logout:hover{
    border: 1px solid #a5a5a5;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#c4c2c4), to(#ffffff));
    background: -moz-linear-gradient(top, #c4c2c4, #ffffff);
    background: linear-gradient(to bottom, #c4c2c4, #ffffff);
    color: #111111;
    text-decoration: none;
}
/*___END OF LOGIN DIV___*/
/*___SEARCH DIV___*/
#Search{ /*Container div*/
background-color : white;
text-align: center;
line-height: 50px;
/*border: 1px solid #bcbdb7;*/
float : top;
clear : none;
height : 50px;
width : 180px;
position: absolute;
top: 17px;
left: 625px;
z-index: 1;
}
#search_box{
  line-height: 19px;
  padding-left: 5px;
}
#search_btn {
    display: inline-block;
    vertical-align: bottom;
    height: 25px;
    padding: 3px 3px;
    border: 1px solid #a5a5a5;
    /*border-radius: 8px;*/
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c2c4));
    background: -moz-linear-gradient(top, #ffffff, #c4c2c4);
    background: linear-gradient(to bottom, #ffffff, #c4c2c4);
    color: #111111;
    position: absolute;
    left: 180px;
    top: 13px;
}
#search_btn:hover,
#search_btn:focus {
    border: 1px solid #a5a5a5;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#c4c2c4), to(#ffffff));
    background: -moz-linear-gradient(top, #c4c2c4, #ffffff);
    background: linear-gradient(to bottom, #c4c2c4, #ffffff);
    color: #111111;
}
#search_btn:active {
    background: #999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#c4c2c4));
    background: -moz-linear-gradient(top, #999999, #c4c2c4);
    background: linear-gradient(to bottom, #999999, #c4c2c4);
}
/*___END OF SEARCH DIV___*/
/*___CUSTOMER SERVICE BTN DIV___*/
#CustomerService_btn{
background-color : white;
text-align: center;
line-height: 50px;
/*border: 1px solid #bcbdb7;*/
float : top;
clear : none;
height : 40px;
width : 145px;
position: absolute;
top: 15px;
left: 855px;
z-index: 1;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    padding: 3px 8px;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c2c4));
    background: -moz-linear-gradient(top, #ffffff, #c4c2c4);
    background: linear-gradient(to bottom, #ffffff, #c4c2c4);
    font: normal normal bold 12px arial;
    color: #111111;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #a5a5a5;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#c4c2c4), to(#ffffff));
    background: -moz-linear-gradient(top, #c4c2c4, #ffffff);
    background: linear-gradient(to bottom, #c4c2c4, #ffffff);
    color: #111111;
    text-decoration: none;
}
.button:active {
    background: #999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#c4c2c4));
    background: -moz-linear-gradient(top, #999999, #c4c2c4);
    background: linear-gradient(to bottom, #999999, #c4c2c4);
}
/*___END OF CUSTOMER SERVICE BTN DIV___*/
/*___BREADCRUMBS___*/
div.breadcrumbs {
  overflow: hidden;
  background-color : white;
  float : top;
  clear : none;
  height : 35px;
  width : 100%;
  position: relative;
  top: 0px;
  z-index: 4;
  /*background-color : #c40000;
  background: #e00025;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
  background: -moz-linear-gradient(top, #f7003a, #57000c);
  background: linear-gradient(to bottom, #f7003a, #57000c);*/
  /*border: 1px #931c2a solid;
  border-radius: 3px;*/
  position: absolute;
  top: 0px;
  left: 0px;

  font-size: 15px;
  font-family: sans-serif;
  color: #4d4d4d;
  text-decoration: none;
  /*text-shadow:  black 1px 1px 1px;*/
  font-weight: bold;
}
div.breadcrumbs p{
  padding-left: 10px;
  text-align: left;
  line-height: 5px;
  font-family: Arial;
}
/*___END OF BREADCRUMBS___*/
/*___DROPDOWN MENU BTN LINK___*/
.dropbtn {    
    height : 35px;
    float: left;
    border: none;
    border-right: 1px #931c2a solid;
    border-radius: 3px 0px 0px 3px; 
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    transition: 0.3s;
    font-size: 15px;
    background: #e00025;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
    background: -moz-linear-gradient(top, #f7003a, #57000c);
    background: linear-gradient(to bottom, #f7003a, #57000c);
    color: #ffffff;
    text-decoration: none;
    text-shadow: #700013 1px 1px 1px;
    font-weight: bold;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 35px;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content a {
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #7b0110;
  font-weight: bold;
  color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*___END OF DROPDOWN MENU BTN LINK___*/
/*___MENU BTN LINK___*/
/*div.tab button.tablinks1{
  border-left: 1px #931c2a solid;
  position: relative;
  left: 250px;
}*/
/* Style the tab */
div.tab {
  overflow: hidden;
  height : 35px;
  width : 730px;
  background-color : #c40000;
  background: #e00025;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
  background: -moz-linear-gradient(top, #f7003a, #57000c);
  background: linear-gradient(to bottom, #f7003a, #57000c);
  /*border: 1px #931c2a solid;*/
  border-radius: 0px 3px 3px 0px; 
  position: relative;
  left: 128px;
}

/* Style the buttons inside the tab */
div.tab button {
    float: left;
    border: none;
    border-right: 1px #931c2a solid;
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    transition: 0.3s;
    font-size: 15px;
    background: #e00025;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
    background: -moz-linear-gradient(top, #f7003a, #57000c);
    background: linear-gradient(to bottom, #f7003a, #57000c);
    color: #ffffff;
    text-decoration: none;
    text-shadow: #700013 1px 1px 1px;
    font-weight: bold;
}

/* Change background color of buttons on hover */
div.tab button.tablinks:hover{
    background: #ff0000;
    background: -webkit-gradient(linear, left top, left bottom, from(#b70019), to(#bc002c));
    background: -moz-linear-gradient(top, #b70019, #bc002c);
    background: linear-gradient(to bottom, #b70019, #bc002c);
    color: #ffffff;
    text-decoration: none;
}

/* Create an active/current tablink class */
div.tab button.active {
    background: #a70000;
    background: -webkit-gradient(linear, left top, left bottom, from(#a70000), to(#a70000));
    background: -moz-linear-gradient(top, #a70000, #a70000);
    background: linear-gradient(to bottom, #a70000, #a70000);
}
/*___END OF MENU BTN LINK___*/
/*___CART TAB___*/
div.cart_tab {
  overflow: hidden;
  height : 35px;
  width : 139px;
  background-color : #c40000;
  background: #e00025;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
  background: -moz-linear-gradient(top, #f7003a, #57000c);
  background: linear-gradient(to bottom, #f7003a, #57000c);
  /*border: 1px #931c2a solid;*/
  border-radius: 3px;
  position: absolute;
  top: 0px;
  left: 860px;

  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: #700013 1px 1px 1px;
  font-weight: bold;
}
div.cart_tab p{
  text-align: center;
  line-height: 5px;
  font-family: Arial;
}
/*___END OF CART TAB___*/
/*___PROD_CONTENT___*/
.prod_content {
background: white;
float : top;
clear : none;
height : 100%;
width : 100%;
position: absolute;
top: -220px;
left: 0px;
z-index: 2;
}
table.prod_list{
  position: absolute;
  top:0px;
  left: 150px;
}
/*___END OF PROD_CONTENT___*/
/*____ABOUT US_______*/
#about_us{
  font-family:inherit;
  border: 1px solid black;
  height:650px;
  width:900px;
  padding: auto;
  margin: auto;
  display: block;
}
/*___SLIDESHOW DIV___*/
.mySlides {
  display:none;
  max-height: 100%;
  max-width: 100%;
}
.slideshow-container {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  margin: auto;
}
.text {
  color: red;
  font-size: 30px;
  padding: 12px 16px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 100%) {
  .text {font-size: 11px}
}
/*___END OF SLIDESHOW___*/
/*___CATEGORY GRIDS___*/
* {box-sizing: border-box;}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}

.wrapper > div {
  border: 1px solid #bcbdb7;
  background-color: white;
  /*background-color: rgba(13, 13, 13, 0.9);*/
  padding: 1em;
  margin: 5px;
  color: #cccccc;
}
.wrapper > div:hover {
  border: 1px solid red;
}
.wrapper {
  display: grid;
  grid-auto-rows: minmax(315px, auto);
  grid-auto-columns: minmax(300px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1;
  background-image: url("images/paints.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.two { 
  grid-column: 2;
  grid-row: 1;
  background-image: url("images/tools.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.three {
  grid-column: 3;
  grid-row: 1;
  background-image: url("images/electrical.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.four {
  grid-column: 1;
  grid-row: 2;
  background-image: url("images/plumbing.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.five {
  grid-column: 2;
  grid-row: 2;
  background-image: url("images/homehardware.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.six {
  grid-column: 3;
  grid-row: 2;
  background-image: url("images/houseware.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.seven{
  grid-column: 1;
  grid-row: 3;
  background-image: url("images/lawn.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.eight{
  grid-column: 2;
  grid-row: 3;
  background-image: url("images/automotive.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: bottom;
}
.nine{
  grid-column: 3;
  grid-row: 3; 
  background-image: url("images/appliances.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.ten{
  grid-column: 1;
  grid-row: 4;
  background-image: url("images/chemicals.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.eleven{
  grid-column: 2;
  grid-row: 4;
  background-image: url("images/pets.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.twelve{
  grid-column: 1;
  grid-row: 6;
}
/*___END OF CATEGORY GRIDS___*/
/*___CATEGORY LINKS STYLE___*/
a.categorylinks{
  font-size: 15px;
  text-decoration: none;
  color: #404040;
}
a.categorylinks:hover{
  font-size: 15px;
  text-decoration: underline;
  color: red;
}
a.categorynames{
font-size: 25px;
font-weight: bold;
color: #404040;
}
a.viewall{
  text-decoration: none;
  color: red;
  font-weight: bold;
}
a.viewall:hover{
  text-decoration: underline;
  color: red;
  font-weight: bold;
}
/*___END OF CATEGORY LINKS STYLE___*/
.customer-service{
  border: 1px solid black;
  border-collapse: collapse;
  height:1100px;
  width:1000px;
  margin: auto;
  text-align: center;
  display: block;
}

.privacy-policy{
  border: 1px solid black;
  height:1000px;
  width:1000px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: auto;
  display: block;
}

.terms-and-conditons{
  border: 1px solid black;
  height:1000px;
  width:1000px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: auto;
  display: block;
}

/*-- team --*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 5px; /* 5px rounded corners */
  position: absolute;
  left: 150px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 5px; /* 5px rounded corners */
  position:absolute;
  left: 500px;
}

.title {
  color: grey;
  font-size: 18px;
}

.a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

/* Add rounded corners to the top left and the top right corner of the image */
.img {
  border-radius: 5px 5px 0 0;
  width:100%;
  height: 50%;
}
/*-- //team --*/