body{
/*background-image : url(' bi-background-light-blue.png ');
background-attachment : fixed;
background-size : 100% auto;*/
}
/*___MAIN DIV___*/
.blended_grid{
display : block;
width : 1000px;
overflow : hidden;
margin : 15px auto 0 auto;
}
#fixed_top{
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 1000px; /* Full width */
z-index: 5;
}
#TopNav{
background-color : white;
/*#fbefd9;*/
float : top;
clear : none;
height : 75px;
width : 100%;
z-index: 4;
}
#MenuNav{
background-color : white;
border: 1px white solid;
border-radius: 3px;
float : top;
clear : none;
height : 35px;
width : 100%;
position: absolute;
top: 75px;
z-index: 4;
}
#Middle{
background-color : red;
float : top;
clear : none;
height : 35px;
width : 100%;
position: relative;
top: 100px;
z-index: 4;
}
#Center{
background-color : white;
float : top;
clear : none;
height : 960px;
width : 100%;
z-index: 3;
}
#Footer{
background-color : blue;
float : top;
clear : none;
height : 50px;
width : 100%;
}
/*___END OF MAIN DIV___*/
/*___LOGIN DIV___*/
#Login_Container{
display: table;
background-color : white;
/*border: 1px solid #bcbdb7;*/
float : top;
clear : none;
height : 50px;
width : 200px;
position: absolute;
top: 15px;
padding: 5px;
left: 250px;
z-index: 1;
}
#Login_Content{
text-align: center;
line-height: 15px;
vertical-align: middle;
display: table-cell;
}
/*___END OF LOGIN DIV___*/
/*___SEARCH DIV___*/
#Search{ /*Container div*/
background-color : white;
text-align: center;
line-height: 50px;
/*border: 1px solid #bcbdb7;*/
float : top;
clear : none;
height : 50px;
width : 250px;
position: absolute;
top: 15px;
padding: 5px;
left: 480px;
z-index: 1;
}
#search_box{
	line-height: 19px;
	padding-left: 5px;
}
#search_btn {
    display: inline-block;
    vertical-align: bottom;
    height: 25px;
    padding: 3px 3px;
    border: 1px solid #a5a5a5;
    /*border-radius: 8px;*/
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c2c4));
    background: -moz-linear-gradient(top, #ffffff, #c4c2c4);
    background: linear-gradient(to bottom, #ffffff, #c4c2c4);
    color: #111111;
    position: relative;
    left: -4px;
    top: -12px;
}
#search_btn:hover,
#search_btn:focus {
    border: 1px solid #a5a5a5;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#c4c2c4), to(#ffffff));
    background: -moz-linear-gradient(top, #c4c2c4, #ffffff);
    background: linear-gradient(to bottom, #c4c2c4, #ffffff);
    color: #111111;
}
#search_btn:active {
    background: #999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#c4c2c4));
    background: -moz-linear-gradient(top, #999999, #c4c2c4);
    background: linear-gradient(to bottom, #999999, #c4c2c4);
}
/*___END OF SEARCH DIV___*/
/*___CUSTOMER SERVICE BTN DIV___*/
#CustomerService_btn{
background-color : white;
text-align: center;
line-height: 50px;
/*border: 1px solid #bcbdb7;*/
float : top;
clear : none;
height : 50px;
width : 200px;
position: absolute;
top: 15px;
padding: 5px;
left: 750px;
z-index: 1;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    padding: 3px 8px;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c2c4));
    background: -moz-linear-gradient(top, #ffffff, #c4c2c4);
    background: linear-gradient(to bottom, #ffffff, #c4c2c4);
    font: normal normal bold 12px arial;
    color: #111111;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #a5a5a5;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#c4c2c4), to(#ffffff));
    background: -moz-linear-gradient(top, #c4c2c4, #ffffff);
    background: linear-gradient(to bottom, #c4c2c4, #ffffff);
    color: #111111;
    text-decoration: none;
}
.button:active {
    background: #999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#c4c2c4));
    background: -moz-linear-gradient(top, #999999, #c4c2c4);
    background: linear-gradient(to bottom, #999999, #c4c2c4);
}
/*___END OF CUSTOMER SERVICE BTN DIV___*/
/*___DROPDOWN MENU BTN LINK___*/
.dropbtn {    
    height : 35px;
    float: left;
    border: none;
    border-right: 1px #931c2a solid;
    border-radius: 3px 0px 0px 3px; 
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    transition: 0.3s;
    font-size: 15px;
    background: #e00025;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
    background: -moz-linear-gradient(top, #f7003a, #57000c);
    background: linear-gradient(to bottom, #f7003a, #57000c);
    color: #ffffff;
    text-decoration: none;
    text-shadow: #700013 1px 1px 1px;
    font-weight: bold;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 38px;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content a {
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #7b0110;
  font-weight: bold;
  color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*___END OF DROPDOWN MENU BTN LINK___*/
/*___MENU BTN LINK___*/
/*div.tab button.tablinks1{
  border-left: 1px #931c2a solid;
  position: relative;
  left: 250px;
}*/
/* Style the tab */
div.tab {
  overflow: hidden;
  height : 35px;
  width : 730px;
  background-color : #c40000;
  background: #e00025;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
  background: -moz-linear-gradient(top, #f7003a, #57000c);
  background: linear-gradient(to bottom, #f7003a, #57000c);
	/*border: 1px #931c2a solid;*/
  border-radius: 0px 3px 3px 0px; 
  position: relative;
  left: 128px;
}

/* Style the buttons inside the tab */
div.tab button {
    float: left;
    border: none;
    border-right: 1px #931c2a solid;
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    transition: 0.3s;
    font-size: 15px;
    background: #e00025;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
    background: -moz-linear-gradient(top, #f7003a, #57000c);
    background: linear-gradient(to bottom, #f7003a, #57000c);
    color: #ffffff;
    text-decoration: none;
    text-shadow: #700013 1px 1px 1px;
    font-weight: bold;
}

/* Change background color of buttons on hover */
div.tab button.tablinks:hover{
    background: #ff0000;
    background: -webkit-gradient(linear, left top, left bottom, from(#b70019), to(#bc002c));
    background: -moz-linear-gradient(top, #b70019, #bc002c);
    background: linear-gradient(to bottom, #b70019, #bc002c);
    color: #ffffff;
    text-decoration: none;
}

/* Create an active/current tablink class */
div.tab button.active {
    background: #a70000;
    background: -webkit-gradient(linear, left top, left bottom, from(#a70000), to(#a70000));
    background: -moz-linear-gradient(top, #a70000, #a70000);
    background: linear-gradient(to bottom, #a70000, #a70000);
}
/*___END OF MENU BTN LINK___*/
/*___CART TAB___*/
div.cart_tab {
  overflow: hidden;
  height : 35px;
  width : 139px;
  background-color : #c40000;
  background: #e00025;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
  background: -moz-linear-gradient(top, #f7003a, #57000c);
  background: linear-gradient(to bottom, #f7003a, #57000c);
  /*border: 1px #931c2a solid;*/
  border-radius: 3px;
  position: absolute;
  top: 0px;
  left: 860px;

  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: #700013 1px 1px 1px;
  font-weight: bold;
}
div.cart_tab p{
  text-align: center;
  line-height: 5px;
  font-family: Arial;
}
/*___END OF CART TAB___*/
/*___BREADCRUMBS___*/
div.breadcrumbs {
  overflow: hidden;
  background-color : white;
  float : top;
  clear : none;
  height : 35px;
  width : 100%;
  position: relative;
  top: 0px;
  z-index: 4;
  /*background-color : #c40000;
  background: #e00025;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
  background: -moz-linear-gradient(top, #f7003a, #57000c);
  background: linear-gradient(to bottom, #f7003a, #57000c);*/
  /*border: 1px #931c2a solid;
  border-radius: 3px;*/
  position: absolute;
  top: 0px;
  left: 0px;

  font-size: 15px;
  font-family: sans-serif;
  color: #4d4d4d;
  text-decoration: none;
  /*text-shadow:  black 1px 1px 1px;*/
  font-weight: bold;
}
div.breadcrumbs p{
  padding-left: 10px;
  text-align: left;
  line-height: 5px;
  font-family: Arial;
}
/*___END OF BREADCRUMBS___*/
/*___PAGINATION___*/
.pagination {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 750px;
  z-index: 2;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 0 4px;
}

.pagination a.active {
  background: #990014;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
  background: -moz-linear-gradient(top, #f7003a, #57000c);
  background: linear-gradient(to bottom, #f7003a, #57000c);*/
  color: white;
  font-weight: bold;
  /*border: 1px solid #e00025;*/
}

.pagination a:hover:not(.active) {
  background: #bfbfbf;
}
/*___END OF PAGINATION___*/
/*___SPECIALS IMG___*/
.specials{
  position: relative;
  top: 150px;
  left: 190px;
}

/*___END OF SPECIALS IMG___*/
/*___PRODUCT GRIDS___*/
* {box-sizing: border-box;}
.grid_list {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}

.grid_list > div {
  border: 1px solid #bcbdb7;
  background-color: white;
  /*background-color: rgba(13, 13, 13, 0.9);*/
  padding: 1em;
  margin: 5px;
  color: #cccccc;
}
.grid_list > div:hover {
  border: 1px solid red;
}
.grid_list {
  display: grid;
  grid-auto-rows: minmax(315px, auto);
  grid-auto-columns: minmax(300px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1;
  background-image: url("images/paints.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.two { 
  grid-column: 2;
  grid-row: 1;
  background-image: url("images/tools.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.three {
  grid-column: 3;
  grid-row: 1;
  background-image: url("images/electrical.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.four {
  grid-column: 1;
  grid-row: 2;
  background-image: url("images/plumbing.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.five {
  grid-column: 2;
  grid-row: 2;
  background-image: url("images/homehardware.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.six {
  grid-column: 3;
  grid-row: 2;
  background-image: url("images/houseware.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.seven{
  grid-column: 1;
  grid-row: 3;
  background-image: url("images/lawn.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.eight{
  grid-column: 2;
  grid-row: 3;
  background-image: url("images/automotive.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: bottom;
}
.nine{
  grid-column: 3;
  grid-row: 3; 
  background-image: url("images/appliances.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.ten{
  grid-column: 1;
  grid-row: 4;
  background-image: url("images/chemicals.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.eleven{
  grid-column: 2;
  grid-row: 4;
  background-image: url("images/pets.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.twelve{
  grid-column: 1;
  grid-row: 6;
}
/*___END OF PRODUCT GRIDS___*/
/*___CATEGORY LINKS STYLE___*/
a.categorylinks{
  font-size: 15px;
  text-decoration: none;
  color: #404040;
}
a.categorylinks:hover{
  font-size: 15px;
  text-decoration: underline;
  color: red;
}
a.categorynames{
font-size: 25px;
font-weight: bold;
color: #404040;
}
a.viewall{
  text-decoration: none;
  color: red;
  font-weight: bold;
}
a.viewall:hover{
  text-decoration: underline;
  color: red;
  font-weight: bold;
}
/*___END OF CATEGORY LINKS STYLE___*/
