td {
padding : 0;
margin : 0;
border : 0;
}
a.categorylinks{
  font-size: 15px;
  text-decoration: none;
  color: #404040;
}
a.categorylinks:hover{
  font-size: 15px;
  text-decoration: underline;
  color: red;
}
a.categorynames{
font-size: 25px;
font-weight: bold;
color: #404040;
}
a.viewall{
  text-decoration: none;
  color: red;
  font-weight: bold;
}
a.viewall:hover{
  text-decoration: underline;
  color: red;
  font-weight: bold;
}
.product {
float: left;
position: relative;
padding-left: 100px;
}
.searchbox {
float: left;
position: relative;
padding-left: 90px;
}
.categories {
float: left;
position: relative;
padding-left: 0px;
}
.brands {
float: left;
position: relative;
padding-left: 0px;
}
.searchicon {
float: right;
position: relative;
padding: 0px;
margin: 0px;
border: 2px solid #dadada;
}
/*------DROPDOWN CATEGORIES------*/
* {box-sizing: border-box;}
.wrapper1 {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper1 > div {
  border: 1px solid white;
  background-color: rgba(13, 13, 13, 0.9);
  padding: 1em;
  color: #cccccc;
}.wrapper1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
}
.dropdown1 {
  grid-column: 1;
  grid-row: 1;
}
.dropdown2 { 
  grid-column: 2;
  grid-row: 1;
}
.dropdown3 {
  grid-column: 3;
  grid-row: 1;
}
.dropdown4 {
  grid-column: 4;
  grid-row: 1;
}
.dropdown5 {
  grid-column: 1;
  grid-row: 2;
}
.dropdown6 {
  grid-column: 2;
  grid-row: 2;
}
.dropdown7 {
  grid-column: 3;
  grid-row: 2;
}
.dropdown8 {
  grid-column: 4;
  grid-row: 2;
}
.dropdown9 {
  grid-column: 1;
  grid-row: 3; 
}
.dropdown10 {
  grid-column: 2;
  grid-row: 3;
}
.dropdown11 {
  grid-column: 3;
  grid-row: 3; 
}
/*------DROPDOWN CATEGORIES------*/
/*----------DROPDOWN DIV--------*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: grid;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/*----------DROPDOWN DIV--------*/
body{
background-image : url(' bi-background-light-blue.png ');
background-attachment : fixed;
background-size : 100% auto;
}
.blended_grid{
display : block;
width : 1000px;
height: 1000px;
overflow : auto;
margin : 10px auto 0 auto;
}
.topBanner{
background-color : rgba(255,255,255, 1);
float : top;
clear : none;
height : 150px;
width : 100%;
z-index: 1;
}
.middleBanner{
background-color : #db2201;
float : left;
clear : none;
position: absolute;
top: 140px;
left: 0px;
height : 80px;
width : 100%;
z-index: -1;
}
.specials{
position: absolute;
top: 35px;
text-indent: 190px;
font-size: 30px;
font-weight: bold;
color: white;
}
.centerBanner{
background-color : #e6e6e6;
border-style: solid;
border-top-width: thin;
border-top-color: #bfbfbf;
border-bottom: none;
border-left: none;
border-right: none;

position: absolute;
top: 220px;
left: 0px;
clear : none;
height : 1100px;
width : 100%;
z-index: 0;
}
.bottomBanner{
background-color : #e6e6e6;
position: absolute;
top: 980px;
left: 200px;
float : center;
clear : none;
height : 100px;
width : 990px;
z-index: 3;
}
.footer{
  background-image: url("images/ace_hardware_logos.png");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}

/*-----------BODY GRID------------*/
.wrapper {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}
.wrapper {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(300px, auto);
}
.wrapper > div:hover {
  border: 1px solid red;
}
.one {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  left: 160px;
}
.three {
  grid-column: 3;
  grid-row: 1/3;
}
/*-----------end of BODY GRID------------*/

/*MENUS*/
.menulink{
	list-style: none;
	overflow: hidden;
	text-decoration: none;
	color: black;
}
.menulink li a {
	text-decoration: none;
	color: black;
	color: #df0024;
}

.menulink li a:hover {
	text-decoration: none;
	background-color: black;
	color: #df0024;
}

/*--------NAV BAR---------*/
nav {
  margin-top: 5px;
  text-align: center;
  padding: 0px;
  /*margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);*/
}
.linkmenu-1 {
  color: #404040;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 55px;
  padding-left: 45px;
}
.linkmenu-1:hover {
  background-color: #0d0d0d;
  color: #db2201;
  padding-top: 12px;
  padding-bottom: 12px;
}
.linkmenu-2 {
  color: #404040;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 55px;
  padding-left: 50px;
}
.linkmenu-2:hover {
  background-color: black;
  color: #db2201;
  padding-top: 12px;
  padding-bottom: 12px;
}
.linkmenu-3 {
  color: #404040;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
}
.linkmenu-3:hover {
  background-color: black;
  color: #db2201;
  padding-top: 12px;
  padding-bottom: 12px;
}
.linkmenu-4 {
  color: #404040;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
}
.linkmenu-4:hover {
  background-color: black;
  color: #db2201;
  padding-top: 12px;
  padding-bottom: 12px;
}
.linkmenu-5 {
  color: #404040;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 38px;
  padding-left: 38px;
}
.linkmenu-5:hover {
  background-color: black;
  color: #db2201;
  padding-top: 12px;
  padding-bottom: 12px;
}
.linkmenu-6 {
  color: #404040;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
}
.linkmenu-6:hover {
  background-color: black;
  color: #db2201;
  padding-top: 12px;
  padding-bottom: 12px;
}
/*--------NAV BAR---------*/

/*dropdown for categories*/
.searchdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  margin: 0px;
  padding-left: 3px;
  padding-right: 3px;
}
input {
    line-height: 19px;
    padding-left: 10px;
    max-width: 200px;
}

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  min-width: 0px;
  margin: 0px;
  padding-left: 3px;
}
 
/*To remove button from IE11, thank you Matt */
select::-ms-expand {
     display: none;
}
 
.selectdiv:after {
  content: '▼';
  font: 14px "Consolas", monospace;
  color: #333;

  right: 11px;
  /*Adjust for position however you want*/
  
  top: 3px;
  padding: 0 0 2px;
  
  position: absolute;
  pointer-events: none;
}
 
.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 150px;
  height:25px;
  float: left;
  margin: 0px 0px;
  padding: 0px 10px;
  font-size: 12px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
/*/////////////////////*/
/*ARROW DOWN FOR MENU*/
.arrowdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  min-width: 0px;
  margin: 0px;
  padding-left: 3px;
}
 
/*To remove button from IE11, thank you Matt */
select::-ms-expand {
     display: none;
}
 
.arrowdiv:after {
  content: '▼';
  font: 12px "Consolas", monospace;
  color: #333;

  right: 35px;
  /*Adjust for position however you want*/
  
  top: 2px;
  padding: 0 0 2px;
  
  position: absolute;
  pointer-events: none;
}
.arrowdiv:hover:after {
  content: '▼';
  font: 12px "Consolas", monospace;
  color: #db2201;

  right: 35px;
  /*Adjust for position however you want*/
  
  top: 2px;
  padding: 0 0 2px;
  
  position: absolute;
  pointer-events: none;
}
 
.arrowdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 150px;
  height:25px;
  float: left;
  margin: 0px 0px;
  padding: 0px 10px;
  font-size: 12px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}