body{
/*background-image : url(' bi-background-light-blue.png ');
background-attachment : fixed;
background-size : 100% auto;*/
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
/*___MAIN DIV___*/
.blended_grid{
display : block;
width : 1000px;
overflow : hidden;
margin : 15px auto 0 auto;
}
#fixed_top{
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 1000px; /* Full width */
z-index: 5;
}
#TopNav{
background-color : white;
/*#fbefd9;*/
float : top;
clear : none;
height : 75px;
width : 100%;
z-index: 4;
}
#MenuNav{
background: #e00025;
background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
background: -moz-linear-gradient(top, #f7003a, #57000c);
background: linear-gradient(to bottom, #f7003a, #57000c);
float : top;
clear : none;
height : 35px;
width : 100%;
position: absolute;
top: 75px;
z-index: 4;
}
.menu_content {
  color: #ffffff;
  text-decoration: none;
  text-shadow: black 1px 1px 1px;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 25px;
  display: block;
}
#Middle{
/*background-color: #8f828b; 303030
background: #8f828b;
background: -webkit-gradient(linear, left top, left bottom, from(#af4f37), to(#a88e7f));
background: -moz-linear-gradient(top, #af4f37, #a88e7f);
background: linear-gradient(to bottom, #af4f37, #a88e7f);*/
background: #cf141b;
background: -webkit-gradient(linear, left top, left bottom, from(#8a080d), to(#a9262b));
background: -moz-linear-gradient(top, #8a080d, #a9262b);
background: linear-gradient(to bottom, #8a080d, #a9262b);


/*  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#d0d0d0));
  background: -moz-linear-gradient(top, #ededed, #d0d0d0);
  background: linear-gradient(to bottom, #ededed, #d0d0d0);*/
/*cf141b
ab0a0f*/
float : top;
clear : none;
height : 140px;
width : 100%;
position: relative;
top: 5px;
z-index: 3;
}
#Center{
/*top a9262b
background: #999999;*/

background: -webkit-gradient(linear, left top, left bottom, from(#a9262b), to(#a9262b));
background: -moz-linear-gradient(top, #a9262b, #a9262b);
background: linear-gradient(to bottom, #a9262b, #a9262b);

float : top;
clear : none;
height : 1200px;
width : 100%;
z-index: 3;
}
#Footer{
background-color : blue;
float : top;
clear : none;
height : 50px;
width : 100%;
}
/*___END OF MAIN DIV___*/
/*___LOGIN DIV___*/
#Login_Container{
display: table;
background-color : white;
/*border: 1px solid #bcbdb7;*/
float : top;
clear : none;
height : 50px;
width : 200px;
position: absolute;
top: 15px;
padding: 5px;
left: 250px;
z-index: 1;
}
#Login_Content{
text-align: center;
line-height: 15px;
vertical-align: middle;
display: table-cell;
}
/*___END OF LOGIN DIV___*/
/*___SEARCH DIV___*/
#Search{ /*Container div*/
background-color : white;
text-align: center;
line-height: 50px;
/*border: 1px solid #bcbdb7;*/
float : top;
clear : none;
height : 50px;
width : 250px;
position: absolute;
top: 15px;
padding: 5px;
left: 480px;
z-index: 1;
}
#search_box{
  line-height: 19px;
  padding-left: 5px;
}
#search_btn {
    display: inline-block;
    vertical-align: bottom;
    height: 25px;
    padding: 3px 3px;
    border: 1px solid #a5a5a5;
    /*border-radius: 8px;*/
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c2c4));
    background: -moz-linear-gradient(top, #ffffff, #c4c2c4);
    background: linear-gradient(to bottom, #ffffff, #c4c2c4);
    color: #111111;
    position: relative;
    left: -4px;
    top: -12px;
}
#search_btn:hover,
#search_btn:focus {
    border: 1px solid #a5a5a5;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#c4c2c4), to(#ffffff));
    background: -moz-linear-gradient(top, #c4c2c4, #ffffff);
    background: linear-gradient(to bottom, #c4c2c4, #ffffff);
    color: #111111;
}
#search_btn:active {
    background: #999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#c4c2c4));
    background: -moz-linear-gradient(top, #999999, #c4c2c4);
    background: linear-gradient(to bottom, #999999, #c4c2c4);
}
/*___END OF SEARCH DIV___*/
/*___CUSTOMER SERVICE BTN DIV___*/
#CustomerService_btn{
background-color : white;
text-align: center;
line-height: 50px;
/*border: 1px solid #bcbdb7;*/
float : top;
clear : none;
height : 50px;
width : 200px;
position: absolute;
top: 15px;
padding: 5px;
left: 750px;
z-index: 1;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    padding: 3px 8px;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c2c4));
    background: -moz-linear-gradient(top, #ffffff, #c4c2c4);
    background: linear-gradient(to bottom, #ffffff, #c4c2c4);
    font: normal normal bold 12px arial;
    color: #111111;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #a5a5a5;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#c4c2c4), to(#ffffff));
    background: -moz-linear-gradient(top, #c4c2c4, #ffffff);
    background: linear-gradient(to bottom, #c4c2c4, #ffffff);
    color: #111111;
    text-decoration: none;
}
.button:active {
    background: #999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#c4c2c4));
    background: -moz-linear-gradient(top, #999999, #c4c2c4);
    background: linear-gradient(to bottom, #999999, #c4c2c4);
}
/*___END OF CUSTOMER SERVICE BTN DIV___*/
/*___DROPDOWN MENU BTN LINK___*/
.dropbtn {    
    height : 35px;
    float: left;
    border: none;
    border-right: 1px #931c2a solid;
    border-radius: 3px 0px 0px 3px; 
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    transition: 0.3s;
    font-size: 15px;
    background: #e00025;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
    background: -moz-linear-gradient(top, #f7003a, #57000c);
    background: linear-gradient(to bottom, #f7003a, #57000c);
    color: #ffffff;
    text-decoration: none;
    text-shadow: #700013 1px 1px 1px;
    font-weight: bold;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 35px;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content a {
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #7b0110;
  font-weight: bold;
  color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*___END OF DROPDOWN MENU BTN LINK___*/
/*___MENU BTN LINK___*/
/*div.tab button.tablinks1{
  border-left: 1px #931c2a solid;
  position: relative;
  left: 250px;
}*/
/* Style the tab */
div.tab {
  overflow: hidden;
  height : 35px;
  width : 870px;
  background-color : #c40000;
  background: #e00025;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
  background: -moz-linear-gradient(top, #f7003a, #57000c);
  background: linear-gradient(to bottom, #f7003a, #57000c);
  /*border: 1px #931c2a solid;*/
  border-radius: 0px 3px 3px 0px; 
  position: relative;
  left: 128px;
}

/* Style the buttons inside the tab */
div.tab button {
    float: left;
    border: none;
    border-right: 1px #931c2a solid;
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    transition: 0.3s;
    font-size: 15px;
    background: #e00025;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
    background: -moz-linear-gradient(top, #f7003a, #57000c);
    background: linear-gradient(to bottom, #f7003a, #57000c);
    color: #ffffff;
    text-decoration: none;
    text-shadow: #700013 1px 1px 1px;
    font-weight: bold;
}

/* Change background color of buttons on hover */
div.tab button.tablinks:hover{
    background: #ff0000;
    background: -webkit-gradient(linear, left top, left bottom, from(#b70019), to(#bc002c));
    background: -moz-linear-gradient(top, #b70019, #bc002c);
    background: linear-gradient(to bottom, #b70019, #bc002c);
    color: #ffffff;
    text-decoration: none;
}

/* Create an active/current tablink class */
div.tab button.active {
    background: #a70000;
    background: -webkit-gradient(linear, left top, left bottom, from(#a70000), to(#a70000));
    background: -moz-linear-gradient(top, #a70000, #a70000);
    background: linear-gradient(to bottom, #a70000, #a70000);
}
/*___END OF MENU BTN LINK___*/
/*___BREADCRUMBS___*/
div.icons {
  overflow: hidden;
  background-color : red;
  float : top;
  clear : none;
  height : 100px;
  width : 100%;
  position: relative;
  top: 0px;
  z-index: 4;
  /*background-color : #c40000;
  background: #e00025;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
  background: -moz-linear-gradient(top, #f7003a, #57000c);
  background: linear-gradient(to bottom, #f7003a, #57000c);*/
  /*border: 1px #931c2a solid;
  border-radius: 3px;*/
  position: absolute;
  top: 0px;
  left: 0px;

  font-size: 15px;
  font-family: sans-serif;
  color: #4d4d4d;
  text-decoration: none;
  /*text-shadow:  black 1px 1px 1px;*/
  font-weight: bold;
}
div.icon p{
  padding-left: 10px;
  text-align: left;
  line-height: 5px;
  font-family: Arial;
}
/*___END OF BREADCRUMBS___*/
/*___ICONS GRID___*/
* {box-sizing: border-box;}
.icons_grid {
  max-width: 520px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  left: -215px;
  top: 10px;
}
.icons_grid > div {
  border: 2px solid white;
  box-shadow: 0px 0px 2px 2px black;
  border-radius: 15px;
  background-color: #cbcbcb;
  /*background-color: rgba(13, 13, 13, 0.9);*/
  padding: 1em;
  margin: 5px;
  color: #4a1b23;
}
.icons_grid > div:hover {
  border: 2px solid #8C001A;
  box-shadow: 0px 0px 2px 2px white;
  background-color:  #FFE5B4;
  /*#bdc3c7*/
  color: black;
}
.icons_grid {
  display: grid;
  grid-auto-rows: minmax(120px, auto);
  grid-auto-columns: minmax(190px, auto);
}
div.icons_grid p{
  padding-left: 10px;
  line-height: 5px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  font-family: Times New Roman;
  position: relative;
  top: 40px;
  left: -5px;
}
div.icons_grid a{
  text-decoration: none;
  color: #4a1b23;
}
div.icons_grid a:hover{
  text-decoration: none;
  color: black;
}
div.icons_grid a:hover{
  text-decoration: none;
  color: black;
}
div.icons_grid a:active{
  text-decoration: none;
  color: black;
}
div.icons_grid p.manage{
  padding-left: 10px;
  line-height: 5px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  font-family: Times New Roman;
  font-size: 15px;
  position: relative;
  top: 60px;
  left: 0px auto;
}
div.icons_grid p.logout{
  padding-left: 10px;
  line-height: 5px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  font-family: Times New Roman;
  font-size: 15px;
  position: relative;
  top: 60px;
  left: 0px auto;
}
.icons_one {
  grid-column: 1;
  grid-row: 1;
}
.icons_one img {
  position: absolute;
  top: 10px;
  left: 52px;
}
.icons_one a:hover {
  color: black ;
}
.icons_two { 
  grid-column: 2;
  grid-row: 1;
}
.icons_two img {
  position: absolute;
  top: 10px;
  left: 247px;
}
.icons_two a:hover {
  color: black ;
}
.icons_three {
  grid-column: 3;
  grid-row: 1;
}
.icons_three img {
  position: absolute;
  top: 10px;
  left: 430px;
}
.icons_three a:hover {
  color: black ;
}
.icons_four {
  grid-column: 4;
  grid-row: 1;
}
.icons_four img {
  position: absolute;
  top: 10px;
  left: 620px;
}
.icons_four a:hover {
  color: black ;
}
.icons_five {
  grid-column: 5;
  grid-row: 1;
}
.icons_five img {
  position: absolute;
  top: 10px;
  left: 810px;
}
.icons_five a:hover {
  color: black ;
}
/*___END OF ICONS GRID___*/
/*___ICONS GRID___*/
.sales_content {
  background-color: transparent;
  width: 75%;
  height: 300px;
  position: relative;
  top: 250px;
  left: 100px;
  text-align: center;
  color: black;
  z-index: 3;
}
table.prod_list{
  position: absolute;
  top:0px;
  left: 50px;
}
table.table{
  /*background: #ededed;
  background: #EDC9AF;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#E8ADAA));
  background: -moz-linear-gradient(top, #ededed, #E8ADAA);
  background: linear-gradient(to bottom, #ededed, #E8ADAA);*/

  background: #EDC9AF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#E8ADAA, #ededed, #E8ADAA); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#E8ADAA, #ededed, #E8ADAA); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#E8ADAA, #ededed, #E8ADAA); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#E8ADAA, #ededed, #E8ADAA); /* Standard syntax */

  /*background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#d0d0d0));
  background: -moz-linear-gradient(top, #ededed, #d0d0d0);
  background: linear-gradient(to bottom, #ededed, #d0d0d0);*/

  border: 2px solid black;
  border-collapse: collapse;
  box-shadow: 0px 0px 2px 2px white;
  position: absolute;
  left: 35px;
}
.table tr:hover {
  background: #EDC9AF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF9691), to(#C24641));
  background: -moz-linear-gradient(top, #FF9691, #C24641);
  background: linear-gradient(to bottom, #FF9691, #C24641);

  font-weight: bold;
}
table.accts{
  /*background: #ededed;
  background: #EDC9AF;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#E8ADAA));
  background: -moz-linear-gradient(top, #ededed, #E8ADAA);
  background: linear-gradient(to bottom, #ededed, #E8ADAA);*/

  background: #EDC9AF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#E8ADAA, #ededed, #E8ADAA); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#E8ADAA, #ededed, #E8ADAA); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#E8ADAA, #ededed, #E8ADAA); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#E8ADAA, #ededed, #E8ADAA); /* Standard syntax */

  /*background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#d0d0d0));
  background: -moz-linear-gradient(top, #ededed, #d0d0d0);
  background: linear-gradient(to bottom, #ededed, #d0d0d0);*/

  border: 2px solid black;
  border-collapse: collapse;
  box-shadow: 0px 0px 2px 2px white;
  position: absolute;
  left: -38px;
}
.accts tr:hover {
  background: #EDC9AF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF9691), to(#C24641));
  background: -moz-linear-gradient(top, #FF9691, #C24641);
  background: linear-gradient(to bottom, #FF9691, #C24641);

  font-weight: bold;
}
table.nohover{
  /*background: #ededed;*/
  background: #EDC9AF;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#E8ADAA));
  background: -moz-linear-gradient(top, #ededed, #E8ADAA);
  background: linear-gradient(to bottom, #ededed, #E8ADAA);
  border: 2px solid black;
  border-collapse: collapse;
  box-shadow: 0px 0px 2px 2px white;
  position: absolute;
  left: 35px;
}
table.category{
  /*background: #ededed;*/
  background: #EDC9AF;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#E8ADAA));
  background: -moz-linear-gradient(top, #ededed, #E8ADAA);
  background: linear-gradient(to bottom, #ededed, #E8ADAA);

  /*background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#d0d0d0));
  background: -moz-linear-gradient(top, #ededed, #d0d0d0);
  background: linear-gradient(to bottom, #ededed, #d0d0d0);*/

  border: 2px solid black;
  border-collapse: collapse;
  box-shadow: 0px 0px 2px 2px white;
  position: absolute;
  left: -50px;
}
table.prod{
  background: #EDC9AF;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#E8ADAA));
  background: -moz-linear-gradient(top, #ededed, #E8ADAA);
  background: linear-gradient(to bottom, #ededed, #E8ADAA);
  

  /*background-image: url(images/1.jpg);
  /*background-size : 1000px 1200px;  background-size : 1370px 552px;
  background-repeat : x-repeat;
  background-position: top;*/

  border: 2px solid black;
  border-collapse: collapse;
  box-shadow: 0px 0px 2px 2px white;
  position: absolute;
  left: 250px;
}
.prod tr:hover {
  background: #EDC9AF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF9691), to(#C24641));
  background: -moz-linear-gradient(top, #FF9691, #C24641);
  background: linear-gradient(to bottom, #FF9691, #C24641);

  font-weight: bold;
}
table.supplier{
  /*background: #ededed;*/
  background: #EDC9AF;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#E8ADAA));
  background: -moz-linear-gradient(top, #ededed, #E8ADAA);
  background: linear-gradient(to bottom, #ededed, #E8ADAA);
  /*background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#d0d0d0));
  background: -moz-linear-gradient(top, #ededed, #d0d0d0);
  background: linear-gradient(to bottom, #ededed, #d0d0d0);*/

  /*background-image: url(images/1.jpg);
  /*background-size : 1000px 1200px;
  background-size : 1370px 552px;
  background-repeat : x-repeat;
  background-position: top;*/

  border: 2px solid black;
  border-collapse: collapse;
  box-shadow: 0px 0px 2px 2px white;
  position: absolute;
  left: 250px;
  top: 145px;
}
td.no_border{
  border: 0;
}
.all_btn{
  border: 1px solid #a5a5a5;
  border-radius: 3px;

  background: #FFFFC9;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c2c4));
  background: -moz-linear-gradient(top, #ffffff, #c4c2c4);
  background: linear-gradient(to bottom, #ffffff, #c4c2c4);*/
  text-decoration: none;
  box-shadow: 1px 1px grey;
}
.all_btn:hover{
    background: #FFBE93;
    font-weight: bold;
}
.all_btn a{
  text-decoration: none;
  color: black;
}
/*___END OF ICONS GRID___*/
/*___PAGINATION___*/
.pagination {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 750px;
  z-index: 2;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 0 4px;
}

.pagination a.active {
  background: #990014;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#f7003a), to(#57000c));
  background: -moz-linear-gradient(top, #f7003a, #57000c);
  background: linear-gradient(to bottom, #f7003a, #57000c);*/
  color: white;
  font-weight: bold;
  /*border: 1px solid #e00025;*/
}

.pagination a:hover:not(.active) {
  background: #bfbfbf;
}
/*___END OF PAGINATION___*/
/*___SUBCATEGORY NAV___*/
#subcategories_container{
display: table;
background: #990014;
/*border: 1px solid #bcbdb7;*/
float : top;
clear : none;
height : 50px;
width : 200px;
padding: 3px;
position: absolute;
top: 200px;
left: 180px;
z-index: 2;
}
.subcategories_content{
text-align: center;
line-height: 10px;
vertical-align: middle;
color: white;
z-index: 2;
}
.sublinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  z-index: 2;
}
.sublinks li a {
  font-size: 16px;
  color: white;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  z-index: 2;
}
.sublinks li a.active {
    background-color: white;
    color: black;
    z-index: 2;
}
.sublinks li a:hover {
  background-color: white;
  text-decoration: underline;
  font-size: 16px;
  color: black;
  text-decoration: none;
  /*color: black;*/
  line-height: 25px;
  letter-spacing: 1px;
  z-index: 2;
}

/*___END OF SUBCATEGORY NAV___*/
/*___PRODUCT GRIDS___*/
* {box-sizing: border-box;}
.grid_list {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}

.grid_list > div {
  border: 1px solid #bcbdb7;
  background-color: white;
  /*background-color: rgba(13, 13, 13, 0.9);*/
  padding: 1em;
  margin: 5px;
  color: #cccccc;
}
.grid_list > div:hover {
  border: 1px solid red;
}
.grid_list {
  display: grid;
  grid-auto-rows: minmax(315px, auto);
  grid-auto-columns: minmax(300px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1;
  background-image: url("images/paints.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.two { 
  grid-column: 2;
  grid-row: 1;
  background-image: url("images/tools.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.three {
  grid-column: 3;
  grid-row: 1;
  background-image: url("images/electrical.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.four {
  grid-column: 1;
  grid-row: 2;
  background-image: url("images/plumbing.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.five {
  grid-column: 2;
  grid-row: 2;
  background-image: url("images/homehardware.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.six {
  grid-column: 3;
  grid-row: 2;
  background-image: url("images/houseware.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.seven{
  grid-column: 1;
  grid-row: 3;
  background-image: url("images/lawn.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.eight{
  grid-column: 2;
  grid-row: 3;
  background-image: url("images/automotive.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: bottom;
}
.nine{
  grid-column: 3;
  grid-row: 3; 
  background-image: url("images/appliances.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.ten{
  grid-column: 1;
  grid-row: 4;
  background-image: url("images/chemicals.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.eleven{
  grid-column: 2;
  grid-row: 4;
  background-image: url("images/pets.jpg");
  background-size : 100%;
  background-repeat : no-repeat;
  background-position: top;
}
.twelve{
  grid-column: 1;
  grid-row: 6;
}
/*___END OF PRODUCT GRIDS___*/
/*___CATEGORY LINKS STYLE___*/
a.categorylinks{
  font-size: 15px;
  text-decoration: none;
  color: #404040;
}
a.categorylinks:hover{
  font-size: 15px;
  text-decoration: underline;
  color: red;
}
a.categorynames{
font-size: 25px;
font-weight: bold;
color: #404040;
}
a.viewall{
  text-decoration: none;
  color: red;
  font-weight: bold;
}
a.viewall:hover{
  text-decoration: underline;
  color: red;
  font-weight: bold;
}
/*___END OF CATEGORY LINKS STYLE___*/
